@model Stand
<html>
<head>
    <link rel="stylesheet" href="../../css/Stands.css">
</head>
<body>
    <div>
        <h1>Adicionar Stand</h1>
        <form action="AddStand" method="post">

            <td>@Html.TextBoxFor(m => m.designacao,new { @class = "form-control", placeholder="Designação",style ="width:300px" })</td>
            <td>@Html.TextBoxFor(m => m.descricao,new { @class = "form-control", placeholder="Descrição",style ="width:300px" })</td>
            <td>@Html.TextBoxFor(m => m.imagem,new { @class = "form-control", placeholder="Imagem",style ="width:300px" })</td>
            <td>@Html.TextBoxFor(m => m.recomendacao,new { @class = "form-control", placeholder="Recomendação",style ="width:300px" })</td>
            <td>@Html.TextBoxFor(m => m.empresa,new { @class = "form-control", placeholder="Empresa",style ="width:300px" })</td>
            <td>@Html.TextBox("expositor",null,htmlAttributes: new { placeholder="Expositor",style ="width:300px" })</td><br>
            <td>@Html.TextBox("feira",null, htmlAttributes: new {placeholder="Feira",style ="width:300px" })</td><br>

            <input type="submit" onclick="AddStand" value="Adicionar" />
        </form>
    </div>
    </div>
</body>
</html>
