@model Expositivo
<html>
<head>
    <link rel="stylesheet" href="../../css/Stands.css">
</head>
<body>
    <div>
        <h1>Adicionar Stand</h1>
        <form action="AddStand" method="post">
            <td>@Html.TextBox("designacao",null,htmlAttributes: new { placeholder="Designação",style ="width:300px" })</td><br>
            <td>@Html.TextBox("descricao",null,htmlAttributes: new { placeholder="Descrição",style ="width:300px" })</td><br>
            <td>@Html.TextBox("imagem",null,htmlAttributes: new { placeholder="Imagem",style ="width:300px" })</td><br>
            <td>@Html.TextBox("empresa",null,htmlAttributes: new { placeholder="Empresa",style ="width:300px" })</td><br>
            <td>@Html.TextBox("expositor",null,htmlAttributes: new { placeholder="Expositor",style ="width:300px" })</td><br>
            <td>@Html.TextBox("feira",null, htmlAttributes: new {placeholder="Feira",style ="width:300px" })</td><br>
            <td>@Html.TextBox("expositivo",null, htmlAttributes: new {value=Model.getExpositivo().ToString(),style ="display : none" })</td><br>
            @if (Model.getExpositivo() == true)
            {
                <td>@Html.TextBox("recomendacao",null,htmlAttributes: new { placeholder="Recomendação"})</td><br>
            }else{
                <td>@Html.TextBox("recomendacao",null,htmlAttributes: new { placeholder="Recomendação",value="null",style ="display : none" })</td>
            }

            <input type="submit" onclick="AddStand" value="Adicionar" />
        </form>
    </div>
    </div>
</body>
</html>
