@model FeiraViewModel

<html>
<head>
    <link rel="stylesheet" href="../../css/Feiras.css">
</head>
<body>
  
    @if (Model.getRole().Equals("Administrador"))
    {
        <div class="display">
            @Html.ActionLink("+ Adicionar Feira","AdicionarFeira","AdicionarFeira",null,null) @Html.ActionLink("- Remover Feira","RemoverFeira","RemoverFeira",null,null)
        </div>
    }
    <div class="grid-container">
        @foreach (var feiraitem in Model.getallFeiras())
        {
                <div class="grid-item">

                    <p>
                        <img src=@feiraitem.imagem width="340px" height="240px">
                    </p>
                    <p>
                        @Html.ActionLink(@feiraitem.designacao,"Stands","Stands",new {user=Model.getUsername(),role=Model.getRole(),designacao = feiraitem.designacao},null)
                    </p>
                    <p>
                        <td>@Html.DisplayFor(modelItem => feiraitem.tipo)</td>
                    </p>
                    <p>
                        <td>@Html.DisplayFor(modelItem => feiraitem.localizacao)</td>
                    </p>
                    <p>
                        <td>@Html.DisplayFor(modelItem => feiraitem.data)</td>
                    </p>

                </div>
        }
    </div>
</body>
</html>