@{
    Layout = "_Layout";
}

@model FamaFeira.Models.User;


<html>
<head>
    <link rel="stylesheet" href="../../css/Login.css">
</head>

<body>
    @if (TempData["errouserexiste"]!=null){
        <div>
            <strong>Erro!</strong> Uma conta com o mesmo nome de utilizador já existe no sistema.
        </div>
    }
    <h1>Registo</h1>
    <form action="Register_click" method="post">
        <p>
            <label for="UserType">Expositor</label>
            <input type="radio" onclick=hide() name="usertype" value="Expositor" data-toggle-value="expChecked" />
            <label for="UserType">Cliente</label>
            <input type="radio" onclick=show() name="usertype" value="Cliente" data-toggle-value="cliChecked" />
        </p>
        <p>
            <input type="submit" onclick="Register_click" value="Registar" />
        </p>
        <p>
            <tr>
                <div id="nome">@Html.TextBoxFor(m=>m.nome,new { @class = "form-control", placeholder="Nome",style ="width:300px" })</div>
            </tr>
            <tr>
                <div id="username">@Html.TextBoxFor(m=>m.username,new { @class = "form-control", placeholder="Username",style ="width:300px" })</div>
            </tr>
            <tr>
                <div id="password">@Html.PasswordFor(m=>m.password,new { @class = "form-control", placeholder="Password",style ="width:300px"})<div />
            </tr>
            <tr>
                <div id="email">@Html.TextBoxFor(m=>m.email,new { @class = "form-control", placeholder="Email",style ="width:300px"})<div />
            </tr>
            <tr>
                <div id="morada">@Html.TextBoxFor(m=>m.morada,new { @class = "form-control", placeholder="Morada",style ="width:300px"})<div />
            </tr>
            <tr>
                <div id="telemovel">@Html.TextBoxFor(m=>m.telemovel,new { @class = "form-control", placeholder="Telemovel",style ="width:300px"})</div>
            </tr>
        </p>


    </form>
    <script>
        function hide() {
            var telemovel = document.getElementById("telemovel");
            var email = document.getElementById("email");
            var morada = document.getElementById("morada");
            email.style.display = "none";
            morada.style.display = "none";
            telemovel.style.display = "none";
        } 
        function show() {
            var telemovel = document.getElementById("telemovel");
            var email = document.getElementById("email");
            var morada = document.getElementById("morada");
            telemovel.style.display = "block";
            email.style.display = "block";
            morada.style.display = "block";
        }

    </script>
</body>

</html> 